.adminPanel_admin
{
  color: black;
}

.adminPanel_panel
{
  color: red;
}

h2
{
  font-family: 'Merienda', cursive;

}

textarea
{
  border: none;
  border-left: 6px solid  #07B3F9;
  width: 100%;
}


.selectImageIcon
{
  text-align: center;
  height: 150px;
  width: 150px;
  font-size: 80px;
  text-shadow: 10px 10px lightblue;

  transition-delay: 0.1s;

}


.selectImageIcon:active
{

  text-shadow: 0px 0px lightblue;


}
